a, button, input, select {
    outline: none !important;
    letter-spacing: inherit;
}

body, html {
    min-height: 100%;
}

body {
    background-color: #333;
    color: #fff;
    letter-spacing: 1px;
}

h1, li, p, ul {
    margin: 0;
}

hr {
    border-color: #f7931e;
    margin-bottom: 12px;
    margin-top: 12px;
}

label {
    font-weight: normal;
}

.form-control, .btn {
    border-radius: 2px;
    box-shadow: none !important;
}

.form-control {
    border: none;
}

.btn {
    padding: 0;
}

.app-text-orange {
    color: #f7931e;
}

.app-btn-brown {
    background-color: #534741;
    border: 1px solid #f7931e;
    font-size: 20px;
    padding: 6px 12px;
}

.app-btn-brown, .app-btn-brown:focus, .app-btn-brown:hover, .app-btn-brown:active, .app-btn-brown.active {
    color: #f7931e;
}

.app-navigable {
    margin-bottom: 50px;
    margin-top: 50px;
}

.app-title {
    font-size: 24px;
}

.app-popup-title {
    font-size: 20px;
    margin-bottom: 12px;
}

.app-avatar-small {
    border: 1px solid #f7931e;
    display: block;
    height: 64px;
    margin: 0 auto;
    width: 64px;
}

.app-btn-accept, .app-btn-reject {
    font-size: 20px;
    padding: 6px 12px;
    text-transform: inherit;
}

.app-btn-accept {
    background-color: #f7931e;
    border: 1px solid #333;
}

.app-btn-reject {
    background-color: #333;
    border: 1px solid #f7931e;
}

.app-btn-accept, .app-btn-accept:focus, .app-btn-accept:hover, .app-btn-accept:active, .app-btn-accept.active, .app-btn-reject, .app-btn-reject:focus, .app-btn-reject:hover, .app-btn-reject:active, .app-btn-reject.active {
    color: #fff;
}

.app-user-form {
    padding: 24px 12px;
}

input[type="number"], select {
    border: none;
    border-radius: 2px;
    box-shadow: none !important;
    color: #333;
}

input.ng-invalid.ng-dirty {
    border: 2px solid #e74c3c !important;
}

input.ng-valid.ng-dirty {
    border: 2px solid #2ecc71 !important;
}