<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form class="app-user-form" name="userForm" role="form" ng-submit="userForm.$valid && submit()" novalidate>
                <div class="form-group">
                    <h1 class="text-center app-title">User Info</h1>
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <div ng-show="userForm.name.$invalid && !userForm.name.$pristine">
                        Name is required
                    </div>
                    <input type="text" id="name" name="name" class="form-control" ng-model="user.name" required>
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <div ng-show="userForm.age.$error.number || userForm.age.$error.min || userForm.age.$error.max">
                        Age must be in range from 18 to 99
                    </div>
                    <input type="number" id="age" name="age" class="form-control" ng-model="user.age" min="18" max="99" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block app-btn-brown" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>